<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOILERPLATE!</title>
</head>
<body>
    <!-- templates to avoid repetitions and facilitate edits/deletions -->
    <%- body %>
</body>
</html>